#wrapper {
  min-height: 100vh;

  display: flex;
  flex-wrap: nowrap;

  border: 1px black solid;
}

#sidebar {
  background-color: var(--color2);
  width: 20vw;

  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

#sidebar > div {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

#sidebar > div > button {
  background-color: var(--color2);
  color: var(--color1);
}

#logo_button {
  border: none;
  padding: 2rem;
  font-size: 3rem;
}

#dashboard_button, #manage_user_button, #settings_button {
  padding: 1.5rem;
  font-size: 1.5rem;
  border: none;
}

.logo-bg1 {
  border: 1px var(--color1) solid;
  color: var(--color1);
}

.logo-bg2 {
  border: 1px var(--color1) solid;
  background-color: var(--color1);
  color: var(--color2);
}

#content {
  border: none;
  width: 80vw;
}